<!DOCTYPE html>
<html ng-app='testapp' xmlns="http://www.w3.org/1999/html">

<head lang="en">
    <meta charset="UTF-8">
    <title>TestApp</title>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/angular-resource.min.js"></script>
    <script src="/js/ctrl.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="lib/vendor/modernizr.js"></script>
</head>

<body>
    <nav class="top-bar foundation-bar" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/">TestApp</a></h1>
            </li>
        </ul>
        <section class="top-bar-section" >
            <ul class="right">
                <li><a href="#/">Home</a></li>
                <li ng-hide='loggedIn'><a href="#/register" >Register</a></li>
                <li ng-show='loggedIn'><a href="#/users">Users</a></li>
                <li ng-show='loggedIn'><a href="#/scenarios">Scenarios</a></li>
                <li ng-show='loggedIn'><a href="#/requests">Requests</a></li>
                <!--<li ng-show='loggedIn'><a href="#/assertions">Assertions</a></li>-->
                <li ng-hide='loggedIn'><a href="#/login" >Login</a></li>
                <li ng-show='loggedIn'><a href="#/logout">Logout</a></li>
            </ul>
        </section>
    </nav>

    <div ng-show='alert' id="mainAlert1" data-alert class="alert-box  alert  radius" tabindex="0" aria-live="assertive" role="dialogalert">
        {{alert}}
        <button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>
    <div ng-show='goodalert' id="mainAlert2" data-alert class="alert-box success radius" tabindex="0" aria-live="assertive" role="dialogalert">
        {{goodalert}}
        <button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>


    <div data-ng-view></div>


    <script src="lib/vendor/jquery.js"></script>
    <script src="lib/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>

