<div class="row">
    <div class="small-12 large-12 columns">
        <h1>Assertions</h1>

        <input data-ng-model="query" placeholder="Type to start searching...">

        <ul class="accordion" data-accordion>
            <li data-ng-repeat="assertion in assertions.doc | filter:query" class="accordion-navigation">
                <a href="#/request/{{assertion._id}}" aria-expanded="false">{{request.name}}</a>
                <div id="{{assertion._id}}" class="content active">
                    <div class="row">
                        <div class="large-6 columns">{{assertion.description}}</div>
                        <div class="large-6 columns">{{assertion.expression}}</div>
                        <div class="large-6 columns">{{assertion.operator}}</div>
                        <div class="large-6 columns">{{assertion.expectation}}</div>
                        <div class="large-6 columns">{{assertion.modificationDate}}</div>
                        <div class="large-6 columns">
                            <button class="button tiny" ng-click="deleteAssertion(assertion._id)">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <button ng-click="newAssertion()">New request</button>
    </div>
</div>