
<div class="row">
    <div class="small-12 columns">
        <br>
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <h1>Home</h1>
        <p>This is a test application.</p>

        <h3>Request</h3>
        <p>This application can run http requests so you can test the functionality of other applications or websites.</p>

        <h3>Scenarios</h3>
        <p>It can also run a series of requests in a secnario.</p>

        <h3>Users</h3>
        <p>But you need a account to do this all.</p>
    </div>
</div>
