<div class="row">
    <div class="small-12 columns">
        <br>
    </div>
</div>


<div class="row">
    <div class="small-12 large-6 columns">
        <h1>Login :</h1>
        <form data-abide>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Username :</label>
                    <input type="text" placeholder="" data-ng-model="login.username" required>

                    <label>Password :</label>
                    <input type="password" placeholder="" data-ng-model="login.password" required>
                </div>
            </div>
            <button ng-click="login(login)">Login</button>
        </form>
    </div>
</div>