<div class="row">
    <div class="small-12 large-12 columns">

        <form name="newScenario">
            <h1>New Scenario</h1>

            <input type="text" class="form-control input-sm" placeholder="Scenarioname" data-ng-model="scenarioData.name" required>
            <input type="text" class="form-control input-sm" placeholder="Description" data-ng-model="scenarioData.description" required>

            <div>
                <h3>Requests</h3>
                <p>All the request that are in the new scenario sorted by order.</p>
                <div>
                    <div >
                        <b>Requests in scenario:</b>
                        <ul ng:repeat="req in requestsInScenario track by $index">
                            <li>
                                <p>{{req.request.name}}</p>
                                <button ng:click="deleteRequest($index)">Delete</button>
                                <span>
                                    <b>{{req.name}}</b>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <b>Requests available:</b>
                        <ul ng:repeat="res in requests">
                            <li>
                                <p>{{res.description}}</p>
                                <button ng:click="addRequest(res)">Add</button>
                                <span><b>{{res.name}}</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="createScenario(scenarioData)">Create</button>
        </form>

    </div>
</div>