<div class="row">
    <div class="small-12 columns">
        <br>
    </div>
</div>

<div class="row">
    <div class="small-12 large-6 columns">
        <h1>Register account :</h1>
        <form class="form-inline">
            <input type="text" class="form-control input-sm" placeholder="Username" data-ng-model="registerData.username" required>
            <input type="password" class="form-control input-sm" placeholder="Password" data-ng-model="registerData.password" required>
            <input type="password" class="form-control input-sm" placeholder="Password again" data-ng-model="registerData.passwordrepeat" required>
            <input type="text" class="form-control input-sm" placeholder="Email" data-ng-model="registerData.email" required>
            <button type="submit" class="btn btn-default" ng-click="register(registerData)">Register</button>
        </form>
    </div>
</div>