<div class="row">
    <div class="small-12 large-12 columns">
        <h1>Request list</h1>

        <input data-ng-model="query" placeholder="Type to start searching...">

        <ul class="accordion" data-accordion>
            <li data-ng-repeat="request in requests | filter: query " class="accordion-navigation">
                <a href="#/request/{{request._id}}" aria-expanded="false">{{request.name}}</a>
                    <div id="{{request._id}}" class="content active">
                        <div class="row">
                            <div class="large-6 columns">{{request.description}}</div>
                            <div class="large-6 columns">{{request.hostname}}</div>
                            <div class="large-6 columns">{{request.port}}</div>
                            <div class="large-6 columns">{{request.path}}</div>
                            <div class="large-6 columns">{{request.method}}</div>
                            <div class="large-6 columns">{{request.headers}}</div>
                            <div class="large-6 columns">{{request.parameters}}</div>
                            <div class="large-6 columns">{{request.meta}}</div>
                            <div class="large-6 columns">{{request.modificationDate}}</div>
                            <div class="large-6 columns">
                                <button class="button tiny" ng-click="run(request._id)">Run</button>
                                <button class="button tiny" ng-click="deleteRequest(request._id)">Delete</button>
                            </div>
                        </div>
                    </div>
            </li>
        </ul>

        <button ng-click="newRequest()">New request</button>
    </div>
</div>