<div class="row">
    <div class="small-12 large-12 columns">

        <h1>Request detail</h1>

        <p>Id: <input type="text" data-ng-model="requests._id" readonly></p>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Name</span>
            <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="requests.name"
                   required>
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Description</span>
            <input type="text" class="form-control" placeholder="Desciption" data-ng-model="requests.description"
                   required>
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Hostname</span>
            <input type="text" class="form-control" placeholder="www.google.com" data-ng-model="requests.hostname"
                   required>
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Port</span>
            <input type="text" class="form-control" placeholder="80" data-ng-model="requests.port">
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Path</span>
            <input type="text" class="form-control" placeholder="/" data-ng-model="requests.path">
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Method</span>
            <select data-ng-model="requests.method" required >
                <option value="">-- choose method --</option>
                <option value="get">Get</option>
                <option value="post">Post</option>
                <option value="delete">Delete</option>
                <option value="update">Update</option>
                <option value="put">Put</option>
            </select>
        </div>
        <div>
            <div class="panel-heading ">Body parameters</div>
            <table border="1" class="table parameterTable">
                <tr>
                    <th class="col1">Name</th>
                    <th class="col2">Value</th>
                </tr>
                <tr ng-repeat="item in items track by $index ">
                    <td><input type="text" placeholder="Enter Param name" data-ng-model="item.name" required></td>
                    <td><input type="text" placeholder="Enter Param value" data-ng-model="item.value" required></td>
                    <td><button type="button" class="button tiny" data-ng-click="deleteParam($index)">Delete Parameter </button></td>
                </tr>
            </table>
            <button type="button" class="btn" data-ng-click="addParam()">New Parameter </button>
        </div>
        <div>

            <h3>Assertion</h3>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">NameAssertion</span>
                <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="requests.assertion[0].name"
                       required>
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Expression</span>
                <input type="text" class="form-control" placeholder="Expression" name="name" data-ng-model="requests.assertion[0].expression"
                       required>
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Operator</span>
                <select data-ng-model="requests.doc.assertion.operator" required>
                    <option value="">-- choose operator --</option>
                    <option value="Equals">Equals</option>
                    <option value="doesNotEquel">Does not Equel </option>
                    <option value="biggerThan">Bigger Than</option>
                    <option value="smallerThan">Smaller Than</option>
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Expectation</span>
                <input type="text" class="form-control" placeholder="Expectation" data-ng-model="requests.assertion[0].expectation" required>
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Assertion description</span>
                <input type="text" class="form-control" placeholder="Description" data-ng-model="requests.assertion[0].description" required>
            </div>

        </div>
        <div>
            <p>
                <button type="button" class="btn btn-danger" data-ng-click="back()">Back</button>
                <button type="button" class="btn btn-success" data-ng-click="saveRequest(requests)">Save</button>
            </p>
        </div>
    </div>
</div>
