<!-- foundation accordion -->

<div class="row">
    <div class="small-12 large-12 columns">
        <h1>Scenarios</h1>
        <p><input data-ng-model="query" placeholder="Type to start searching..."></p>
        <ul class="accordion" data-accordion>
            <li data-ng-repeat="scenario in scenarios | filter:query" class="accordion-navigation">
                <a href="#/scenario/{{scenario._id}}">{{scenario.name}}</a>
                <div id="panel2a" class="content active">
                    <div class="row">
                        <div class="large-6 columns">{{scenario.description}}</div>
                        <div class="large-6 columns">{{scenario.requests}}</div>
                        <div class="large-6 columns">{{scenario.meta}}</div>
                        <div class="large-6 columns">{{scenario.modificationDate}}</div>
                        <div class="large-6 columns">
                            <button class="button tiny" ng-click="run(scenario._id)">Run</button>
                            <button class="button tiny" ng-click="deleteScenario(scenario._id)">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <button ng-click="newScenario()">New scenario</button>
        <!-- /foundation accordion -->
    </div>
</div>