<div class="row">
    <div class="small-12 large-12 columns">
        <form name="userForm">

            <h1>Hello {{user.username}}!</h1>

            <p>Id: <input type="text" data-ng-model="user._id" readonly></p>

            <p>Email: <input type="text" data-ng-model="user.email"></p>

            <p>username: <input type="text" data-ng-model="user.username"></p>

            <p>password: <input type="password" data-ng-model="user.password"></p>

            <p>password repeat: <input type="password" data-ng-model="user.passwordrepeat"></p>

            <button type="button" data-ng-click="deleteUser(user._id)">Delete</button>

            <button type="button" data-ng-click="save(user)">Save</button>

            <button type="button" data-ng-click="back()">Back</button>

        </form>
    </div>
</div>