<div class="row">
    <div class="small-12 large-12 columns">
        <form name="assertionlist">
            <h1>Users</h1>

            <p><input data-ng-model="query" placeholder="Type to start searching..."></p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in users | filter:query">
                        <td><a href="#/user/{{user._id}}">{{user._id}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>